$darkPurple: #654996;
$lightPurple: #875dcf;
$lighterPurple: #ae99d1;

.container {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.purpleText {
  color: $darkPurple;
}

a.projLink {
  color: $lightPurple;
  font-size: larger;
  &:hover {
    text-decoration: underline;
  }
}

.icon {
  padding-left: 12.5px;
  padding-right: 12.5px;
  transition: 0.15s;
  &:hover {
    color: $lighterPurple;
  }
}

#icons {
  margin-top: 0;
}
