.container {
  /*position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);*/
  text-align: center;
  font-size: x-large;
  font-weight: 500;
}

.flex {
  margin-top: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.purpleText {
  color: #654996;
}

.project {
  color: #2498e6;
}

.language {
  color: yellow;
}

.homeButton {
  color: #654996;
  font-size: x-large;
}

a.homeButton:hover {
  text-decoration: underline;
}

a.project:hover {
  text-decoration: underline;
}
