$darkPurple: #654996;
$lightPurple: #875dcf;
$lightBlue: #2498e6;

.container {
  text-align: center;
  font-size: x-large;
  font-weight: 500;
}

.flex {
  margin-bottom: 10%;
  margin-top: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.purpleText {
  color: $darkPurple;
}

a.project {
  color: $lightBlue;
  &:hover {
    text-decoration: underline;
  }
}

.language {
  color: yellow;
}

a.homeButton {
  color: $lightPurple;
  font-size: x-large;
  &:hover {
    text-decoration: underline;
  }
}
